<div class="footer">
    <div class="links">
        <h1>HEALTHCUISINE</h1>
        <div class="link_set1">
            <ul>
                <li><a href="#">SHOP</a></li>
                <li><a href="#">LOOKBOOK</a></li>
                <li><a href="#">LEGAL</a></li>
            </ul>
        </div>
        <div class="link_set2">
            <ul>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">SH0PPING BAG</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>
        <div class="newsletter">
            <p>SUBSCRIBE TO OUR NEWSLETTER</p>
            <div class="action">
                <input type="text" placeholder="Your email address">
                <img src="../../assets/right-arrow.png" alt="">
            </div>
        </div>
    </div>
    <div class="social_media">
        <h1>Follow Us</h1>
        <div class="social_media_icons">
            <img src="../../assets/facebook.png" alt="facebook" style="filter: invert(12%) sepia(100%) saturate(7040%) hue-rotate(235deg) brightness(83%) contrast(94%);">
            <img src="../../assets/instagram.png" alt="instagram" style="filter: invert(13%) sepia(91%) saturate(7102%) hue-rotate(314deg) brightness(107%) contrast(97%);">
            <img src="../../assets/youtube.png" alt="youtube" style="filter: invert(33%) sepia(81%) saturate(5333%) hue-rotate(336deg) brightness(98%) contrast(99%);">
            <img src="../../assets/twitter.png" alt="twitter" style="filter: invert(47%) sepia(80%) saturate(3723%) hue-rotate(201deg) brightness(102%) contrast(98%);">
        </div>
    </div>
</div>