<div class="container">
        <app-navigation></app-navigation>
        <div class="hero-text">
            Fitness Redefined
        </div>
        <span class="divider"></span>
        <div class="title-section">
            <img src="../../assets/Shape 1.png" alt="shape 1">
            <div class="text">
                <div class="title">What Is The Best Way Of Incorporating <span>Fitness</span> In Your Lifestyle?</div>
                <div class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
            </div>
            <img src="../../assets/Shape 2.png" alt="shape 1">
        </div>
        <div class="our-offerings">
            <div class="our">OUR</div>
            <div class="offerings">OFFERINGS</div>
        </div>
        <div class="offerings_workouts">
            <div class="workout_container">
                <div class="title_container">
                    <p class="word_1">STRENGTH</p>
                    <img src="../../assets/Circle.png" alt="circle">
                    <p class="word_2">WORKOUTS</p>
                </div>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure .dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                <button>Learn More</button>
            </div>
            <div class="workout_container">
                <div class="title_container">
                    <p class="word_1">CONDITIONING</p>
                    <img src="../../assets/Circle.png" alt="circle">
                    <p class="word_2">WORKOUTS</p>
                </div>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure .dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                <button>Learn More</button>
            </div>
            <div class="workout_container">
                <div class="title_container">
                    <p class="word_1">YOGA</p>
                    <img src="../../assets/Circle.png" alt="circle">
                    <p class="word_2">WORKOUTS</p>
                </div>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure .dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                <button>Learn More</button>
            </div>
            <div class="workout_container">
                <div class="title_container">
                    <p class="word_1">CROSSFIT</p>
                    <img src="../../assets/Circle.png" alt="circle">
                    <p class="word_2">WORKOUTS</p>
                </div>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure .dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                <button>Learn More</button>
            </div>
            <div class="workout_container">
                <div class="title_container">
                    <p class="word_1">STRENGTH</p>
                    <img src="../../assets/Circle.png" alt="circle">
                    <p class="word_2">WORKOUTS</p>
                </div>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure .dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia </p>
                <button>Learn More</button>
            </div>
        </div>
        <div class="vision_section">
            <div class="text">
                <div class="title">
                    <p>OUR</p>
                    <p>VISION</p>
                </div>
                <div class="paragraph">Discover how our software can help to prevent and mitigate the harm caused by ecological disasters. From oil spills to deforestation, our solutions provide businesses and individuals with the tools they need to protect the environment and reduce their impact on the planet.</div>
            </div>
            <div class="image">
                <img src="../../assets/young-fitness-man-studio.jpg" al="">
            </div>
        </div>
        <div class="statistics_container">
            <div class="typography_container">
                <h1>HealthCuisine</h1>
                <div class="div">
                    <p>IN</p>
                    <p>NUMBERS</p>
                </div>
            </div>
            <div class="statistics">
                <div class="statistic_box">
                    <img src="../../assets/group.png" alt="group">
                    <p class="value">20K+</p>
                    <p class="for">Satisfied Customers</p>
                </div>
                <div class="statistic_box">
                    <img src="../../assets/institute.png" alt="group">
                    <p class="value">10+</p>
                    <p class="for">Globally Recognized Certifications</p>
                </div>
                <div class="statistic_box">
                    <img src="../../assets/place.png" alt="group">
                    <p class="value">2K+</p>
                    <p class="for">Fitness & Nutrition Centers</p>
                </div>
                <div class="statistic_box">
                    <img src="../../assets/progress.png" alt="group">
                    <p class="value">500+</p>
                    <p class="for">Awards</p>
                </div>
            </div>
        </div>
        <div class="reviews_container">
            <div class="title_container">
                What Our <span>Clients</span> Say?
            </div>
            <div class="reviews">
                <div class="review_box">
                    <div class="review_header">
                        <div class="image">
                            <img src="../../assets/ayo-ogunseinde-6W4F62sN_yI-unsplash.jpg" alt="">
                        </div>
                        <div class="stars_container">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
                </div>
                <div class="review_box">
                    <div class="review_header">
                        <div class="image">
                            <img src="../../assets/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="">
                        </div>
                        <div class="stars_container">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
                </div>
                <div class="review_box">
                    <div class="review_header">
                        <div class="image">
                            <img src="../../assets/rafaella-mendes-diniz-et_78QkMMQs-unsplash.jpg" alt="">
                        </div>
                        <div class="stars_container">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
                </div>
                <div class="review_box">
                    <div class="review_header">
                        <div class="image">
                            <img src="../../assets/logan-weaver-lgnwvr-9D_rUDe7xvA-unsplash.jpg" alt="">
                        </div>
                        <div class="stars_container">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
                </div>
                <div class="review_box">
                    <div class="review_header">
                        <div class="image">
                            <img src="../../assets/aiony-haust-3TLl_97HNJo-unsplash.jpg" alt="">
                        </div>
                        <div class="stars_container">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
                </div>
                <div class="review_box">
                    <div class="review_header">
                        <div class="image">
                            <img src="../../assets/ian-dooley-d1UPkiFd04A-unsplash.jpg" alt="">
                        </div>
                        <div class="stars_container">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                            <img src="../../assets/star.png" alt="star">
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea </p>
                </div>
            </div>
        </div>
        <div class="team_section">
            <div class="text">
                <div class="title">
                    <p>OUR</p>
                    <p>TEAM</p>
                </div>
            </div>
            <div class="member_section">
                <div class="member_box">
                    <img src="../../assets/ivana-cajina-_7LbC5J-jw4-unsplash.jpg" alt="ivana-cajina`">
                    <div class="information_container">
                        <p>Name Surname</p>
                        <p>Position, Age</p>
                        <div class="social_media_container">
                            <img src="../../assets/facebook.png" alt="facebook">
                            <img src="../../assets/instagram.png" alt="instagram">
                            <img src="../../assets/twitter.png" alt="twitter">
                            <img src="../../assets/youtube.png" alt="youtube">
                        </div>
                    </div>
                </div>
                <div class="member_box overlay_blue" style="border: 3px solid #413d6b;">
                    <img src="../../assets/ivana-cajina-_7LbC5J-jw4-unsplash.jpg" alt="ivana-cajina`">
                    <div class="information_container" style="background: #413d6b; opacity: 0.8;">
                        <p>Name Surname</p>
                        <p>Position, Age</p>
                        <div class="social_media_container">
                            <img src="../../assets/facebook.png" alt="facebook">
                            <img src="../../assets/instagram.png" alt="instagram">
                            <img src="../../assets/twitter.png" alt="twitter">
                            <img src="../../assets/youtube.png" alt="youtube">
                        </div>
                    </div>
                </div>
                <div class="member_box">
                    <img src="../../assets/ivana-cajina-_7LbC5J-jw4-unsplash.jpg" alt="ivana-cajina`">
                    <div class="information_container">
                        <p>Name Surname</p>
                        <p>Position, Age</p>
                        <div class="social_media_container">
                            <img src="../../assets/facebook.png" alt="facebook">
                            <img src="../../assets/instagram.png" alt="instagram">
                            <img src="../../assets/twitter.png" alt="twitter">
                            <img src="../../assets/youtube.png" alt="youtube">
                        </div>
                    </div>
                </div>
                <div class="member_box overlay_blue" style="border: 3px solid #413d6b;">
                    <img src="../../assets/ivana-cajina-_7LbC5J-jw4-unsplash.jpg" alt="ivana-cajina`">
                    <div class="information_container" style="background: #413d6b; opacity: 0.8;">
                        <p>Name Surname</p>
                        <p>Position, Age</p>
                        <div class="social_media_container">
                            <img src="../../assets/facebook.png" alt="facebook">
                            <img src="../../assets/instagram.png" alt="instagram">
                            <img src="../../assets/twitter.png" alt="twitter">
                            <img src="../../assets/youtube.png" alt="youtube">
                        </div>
                    </div>
                </div>
                <div class="member_box">
                    <img src="../../assets/ivana-cajina-_7LbC5J-jw4-unsplash.jpg" alt="ivana-cajina`">
                    <div class="information_container">
                        <p>Name Surname</p>
                        <p>Position, Age</p>
                        <div class="social_media_container">
                            <img src="../../assets/facebook.png" alt="facebook">
                            <img src="../../assets/instagram.png" alt="instagram">
                            <img src="../../assets/twitter.png" alt="twitter">
                            <img src="../../assets/youtube.png" alt="youtube">
                        </div>
                    </div>
                </div>
                <div class="member_box overlay_blue" style="border: 3px solid #413d6b;">
                    <img src="../../assets/ivana-cajina-_7LbC5J-jw4-unsplash.jpg" alt="ivana-cajina`">
                    <div class="information_container" style="background: #413d6b; opacity: 0.8;">
                        <p>Name Surname</p>
                        <p>Position, Age</p>
                        <div class="social_media_container">
                            <img src="../../assets/facebook.png" alt="facebook">
                            <img src="../../assets/instagram.png" alt="instagram">
                            <img src="../../assets/twitter.png" alt="twitter">
                            <img src="../../assets/youtube.png" alt="youtube">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="brands_section">
            <h1>Brands Who Work With Us</h1>
            <div class="image_container">
                <img src="../../assets/Amazon.png" alt="amazon">
                <img src="../../assets/Microsoft.png" alt="microsoft">
                <img src="../../assets/Walt Disnep.png" alt="walt-disnep">
                <img src="../../assets/McDonalds.png" alt="mcdonalds">
                <img src="../../assets/AT&T.png" alt="at&t">
                <img src="../../assets/Walt Disnep.png" alt="walt-disnep">
                <img src="../../assets/Microsoft.png" alt="microsoft">
                <img src="../../assets/AT&T.png" alt="at&t">
            </div>
        </div>
    </div>