<div class="container" #container>
    <app-navigation></app-navigation>
    <div class="workout_section">
        <div class="title">
            <p>Workout</p>
            <p>Programs</p>
        </div>
        <div class="view_all">
            <p>View All</p>
            <img src="../../assets/right-arrow.png" alt="right-arrow">
        </div>
        <div class="workout_container">
            <div class="workout">
                <img src="../../assets/Yoga 2.png" alt="yoga">
                <p><span>Yoga</span> Based Workouts</p>
            </div>
            <div class="workout">
                <img src="../../assets/Strength.png" alt="yoga">
                <p><span>Strength</span> Based Workouts</p>
            </div>
            <div class="workout">
                <img src="../../assets/Crossfit.png" alt="yoga">
                <p><span>Crossfit</span> Workouts</p>
            </div>
        </div>
    </div>
    <div class="nutrition_section animate">
        <div class="title">
            <p>Plans</p>
            <p>Diet</p>
        </div>
        <div class="flyer1">
            <img src="../../assets/nadine-primeau--ftWfohtjNw-unsplash.jpg" alt="personalized-diet">
            <div class="title">
                <span>Personalized</span>
                <span>Diet</span>
                <span>Plan</span>
            </div>
            <div class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra</div>
        </div>
        <div class="flyer1">
            <img src="../../assets/eiliv-aceron-uzdfBCKwKTk-unsplash.jpg" alt="healthCuisine-special">
            <div class="title">
                <span>HealthCuisine</span>
                <span>Special</span>
                <span>Recipies</span>
            </div>
            <div class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra</div>
        </div>
    </div>
    <div class="shop_container animate">
        <div class="title">
            <p style="margin: 0 0 0 1rem;">Shop At Our</p>
            <p>Online Store</p>
        </div>
        <div class="item_container">
            <div class="item">
                <img src="../../assets/vd-photography-H-qxKCedhcc-unsplash.jpg" alt="dumbell">
                <span>WEIGHTS</span>
            </div>
            <div class="item">
                <img src="../../assets/matthew-lejune-uU5Jz-b-0yI-unsplash.jpg" alt="dumbell">
                <span>BANDS</span>
            </div>
            <div class="item">
                <img src="../../assets/intenza-fitness-iqvOKGB5RMc-unsplash.jpg" alt="dumbell">
                <span>VESTS</span>
            </div>
            <div class="item">
                <img src="../../assets/vd-photography-H-qxKCedhcc-unsplash.jpg" alt="dumbell">
                <span>WEIGHTS</span>
            </div>
            <div class="item">
                <img src="../../assets/parallettes_wood_bmf.jpg" alt="dumbell">
                <span>PARALLETTES</span>
            </div>
            <div class="item">
                <img src="../../assets/intenza-fitness-IEWZJO6oW9Q-unsplash.jpg" alt="dumbell">
                <span>TREADMILL</span>
            </div>
        </div>
    </div>
    <div class="certifications_section animate">
        <div class="title">
            <span></span>
            <p>Certifications</p>
        </div>
        <div class="certifications">
            <div class="certification">
                <img src="../../assets/ace-certification.png" alt="ace">
                <p>American Council of Exercise</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                <button>Get Now <img src="../../assets/right-arrow.png" alt="right-arrow"></button>
            </div>
            <div class="certification">
                <img src="../../assets/NCSF-81711f235ea747bb87968c3e232a8361.png" alt="ace">
                <p>American Council of Exercise</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                <button>Get Now <img src="../../assets/right-arrow.png" alt="right-arrow"></button>
            </div>
            <div class="certification">
                <img src="../../assets/information-systems-security-association-issa-logo.png" alt="ace">
                <p>American Council of Exercise</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                <button>Get Now <img src="../../assets/right-arrow.png" alt="right-arrow"></button>
            </div>
            <div class="certification">
                <img src="../../assets/nafc-header-logo.png" alt="ace">
                <p>American Council of Exercise</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                <button>Get Now <img src="../../assets/right-arrow.png" alt="right-arrow"></button>
            </div>
            <div class="certification">
                <img src="../../assets/national-academy-of-sports-medicine-nasm-logo-vector.png" alt="ace">
                <p>American Council of Exercise</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
                <button>Get Now <img src="../../assets/right-arrow.png" alt="right-arrow"></button>
            </div>
        </div>
    </div>
    <div class="pricing_section animate">
        <div class="title">
            <span></span>
            <p>Plans And Pricing</p>
        </div>
        <div class="pricings">
            <div class="pricing">
                <div class="plan">
                    <p>Basic</p>
                    <p>11.99 $</p>
                </div>
                <div class="features">
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Workout Programs</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Diet Plans</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Discounts on equipments</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Free monthly supplements</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Monthly progress tracking</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>One on one Video Lessons</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Diet refactoring</p>
                    </div>
                </div>
                <button>Buy Now</button>
            </div>
            <div class="pricing">
                <div class="plan">
                    <p>Basic</p>
                    <p>11.99 $</p>
                </div>
                <div class="features">
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Workout Programs</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Diet Plans</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Discounts on equipments</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Free monthly supplements</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Monthly progress tracking</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>One on one Video Lessons</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Diet refactoring</p>
                    </div>
                </div>
                <button>Buy Now</button>
            </div>
            <div class="pricing">
                <div class="plan">
                    <p>Basic</p>
                    <p>11.99 $</p>
                </div>
                <div class="features">
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Workout Programs</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Diet Plans</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Discounts on equipments</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Free monthly supplements</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Monthly progress tracking</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>One on one Video Lessons</p>
                    </div>
                    <div class="feature">
                        <img src="../../assets/checked.png" alt="checked">
                        <p>Diet refactoring</p>
                    </div>
                </div>
                <button>Buy Now</button>
            </div>
        </div>
    </div>
</div>