<div class="menu">
    <div class="item">
        <img src="../../../assets/metric.png" alt="progress">
        <span>Your Progress</span>
    </div>
    <div class="item">
        <img src="../../../assets/shopping-bag.png" alt="progress">
        <span>Subscription</span>
    </div>
    <div class="item">
        <img src="../../../assets/meal.png" alt="progress">
        <span>My Nutrition</span>
    </div>
    <div class="item">
        <img src="../../../assets/weight.png" alt="progress">
        <span>My Workouts</span>
    </div>
    <div class="item">
        <img src="../../../assets/gift.png" alt="progress">
        <span>My Rewards</span>
    </div>
    <div class="item">
        <img src="../../../assets/question.png" alt="progress">
        <span>Help</span>
    </div>
    <div class="item">
        <img src="../../../assets/logout.png" alt="progress">
        <span>Logout</span>
    </div>
</div>