<div class="container">
    <app-navigation></app-navigation>
    <div class="top-text">
        <h1>Struggling to stay <span>FIT</span>? We're here for <span>YOU</span>.</h1>
    </div>
    <div class="hero-text"><p>HealthCuisine</p></div>
    <div class="bottom-text">
        <em><h1>Transform yourself today</h1></em>
    </div>
    <div class="buttons">
        <button>Get Personalized Diet Plan</button>
        <button>Get Personalized Workout Plan</button>
    </div>
    <div class="section-benefits">
        <div class="benefits">
            <h1>WHAT YOU'LL GET</h1>
            <div class="benefit-list">
                <div class="benefit-list-row1">
                    <div class="benefit">
                        <img src="../../assets/weight coloured.png" alt="resistance training">
                        <p>Resistance Based Workouts</p>
                    </div>
                    <div class="benefit">
                        <img src="../../assets/yoga coloured.png" alt="yoga">
                        <p>Yoga Routines</p>
                    </div>
                </div>
                <div class="benefit-list-row2">
                    <div class="benefit">
                        <img src="../../assets/meal coloured.png" alt="diet plan">
                        <p>Personalised Diet Plan</p>
                    </div>
                </div>
            </div>
        </div>
        <img src="../../assets/carl-barcelo-nqUHQkuVj3c-unsplash.jpg" alt="benefits">
    </div>
    <div class="image-slideshow">
        <div class="slideshow-container">
            <div class="image">
                <img src="../../assets/anastase-maragos-9dzWZQWZMdE-unsplash.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../assets/sushil-ghimire-5UbIqV58CW8-unsplash.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../assets/dane-wetton-t1NEMSm1rgI-unsplash.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../assets/meghan-holmes-buWcS7G1_28-unsplash.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../assets/anastase-maragos-9dzWZQWZMdE-unsplash.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../assets/sushil-ghimire-5UbIqV58CW8-unsplash.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../assets/dane-wetton-t1NEMSm1rgI-unsplash.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../assets/meghan-holmes-buWcS7G1_28-unsplash.jpg" alt="">
            </div>
        </div>
    </div>
    
    <div class="workouts">
        <div class="image">
            <img src="../../assets/anastase-maragos-FP7cfYPPUKM-unsplash.jpg" alt="">
            <p>Strength</p>
        </div>
        <div class="image">
            <img src="../../assets/kike-vega-F2qh3yjz6Jk-unsplash.jpg" alt="">
            <p>Yoga</p>
        </div>
        <div class="image">
            <img src="../../assets/jesper-aggergaard-rA5aJvQ2l6g-unsplash.jpg" alt="">
            <p>Crossfit</p>
        </div>
    </div>
    <div class="descriptive-text">
        <h1>Your health A to Z</h1>
        <p>Learn what you need to know about symptoms, diagnosis, and treatment options to discuss with your doctor. From major surgery to routine procedures,<br> find out what to expect and how to prepare for a successful outcome.</p>
    </div>
    <div class="cards">
        <div class="background-belt"></div>
        <div class="card">
            <h3>Some Title</h3>
            <div class="image"><img src="../../assets/bruce-mars-gJtDg6WfMlQ-unsplash.jpg" alt="card-image"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente non vero doloribus itaque iusto ex temporibus impedit in. Harum delectus dicta aspernatur, quam mollitia amet nam. Blanditiis, nulla. Iste inventore, delectus explicabo nesciunt dignissimos iusto modi laborum nisi recusandae ab!</p>
            <a href="#">CHECK OUT</a>
        </div>
        <div class="card">
            <h3>Some Title</h3>
            <div class="image"><img src="../../assets/bruce-mars-gJtDg6WfMlQ-unsplash.jpg" alt="card-image"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente non vero doloribus itaque iusto ex temporibus impedit in. Harum delectus dicta aspernatur, quam mollitia amet nam. Blanditiis, nulla. Iste inventore, delectus explicabo nesciunt dignissimos iusto modi laborum nisi recusandae ab!</p>
            <a href="#">CHECK OUT</a>
        </div>
        <div class="card">
            <h3>Some Title</h3>
            <div class="image"><img src="../../assets/bruce-mars-gJtDg6WfMlQ-unsplash.jpg" alt="card-image"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente non vero doloribus itaque iusto ex temporibus impedit in. Harum delectus dicta aspernatur, quam mollitia amet nam. Blanditiis, nulla. Iste inventore, delectus explicabo nesciunt dignissimos iusto modi laborum nisi recusandae ab!</p>
            <a href="#">CHECK OUT</a>
        </div>
    </div>
    <div class="information">
        <div class="content">
            <h1>JUMPSTART YOUR JOURNEY</h1>
            <p>Sweat FXBG is more than another workout, it's a comprehensive approach to fitness. We pair the ultimate strength and cardio workouts with experiential lighting, sound, and luxury amenities. Achieve your desired fitness goals with a mix of HIIT, Cycle, Barre, Row, Yoga, and more. ound, and luxury amenities. Achieve your desired fitness goals with a mix of HIIT, Cycle, Barre, Row, Yoga, and more.</p>
        </div>
        <div class="image">
            <img src="../../assets/7069791_3304470.jpg" alt="information">
        </div>
    </div>
    <div class="merits">
        <div class="merit">
            <img src="../../assets/calendar color.png" alt="">
            <p>Going Strong Since 15 Years</p>
        </div>
        <div class="merit">
            <img src="../../assets/person color.png" alt="">
            <p>More Than 100,000 Satisfied Users.</p>
        </div>
        <div class="merit">
            <img src="../../assets/trophy color.png" alt="">
            <p>Going Strong Since 15 Years</p>
        </div>
    </div>
    <h1 class="big-text">These are aspects of your life that are key to truly improving your lifestyle or to aid in maintaining your current healthy lifestyle. I will ensure you feel supported all the way with a program tailored to your needs and accountability checks at a time that suits you. Everyone has their own journey and everyone started from somewhere.</h1>
    <div class="password_reset">
        <div class="logo">HealthCuisine</div>
        <div class="title">Hi Username Surname, Here's Your <span>Password Reset Link.</span></div>
        <p>Your password reset link is <a href="#">dsfkdsaljfdaslkfjdslkafjsdlafkjdflkdsajflkdfjldkfajldksafjldksafjdlskfjsdlkafjsdlkafjl</a>. Please use this link to reset your password. But hurry up!!! The link is valid only for 10 minutes.</p>
        <p>Congrats on getting back to your regimen. Stay Fit. Stay Healthy. Stay Strong.</p>
    </div>
</div>