<div class="container">
    <app-navigation></app-navigation>
    <div class="workouts">
        <div class="workouts__workout-types">
            <div class="workout-types__box">
                <div class="street">
                    <p class="front-text">Stre</p>
                    <p>et</p>
                </div>
                <div class="workouts">
                    <p class="w">W</p>
                    <p>orkouts</p>
                </div>
                <div class="typography_container">
                    <p class="street_typography1">Street</p>
                    <p class="street_typography2">Street</p>
                    <p class="street_typography3">Street</p>
                    <p class="street_typography4">Street</p>
                </div>
                <img class="street-image" src="../../assets/Street.png" alt="street workout">
            </div>

            <div class="workout-types__box">
                <div class="condit">
                    <span class="con">CON</span>
                    <span class="dit">DIT-</span>
                </div>
                <div class="ioning">
                    <span class="io">io</span>
                    <span class="ning">ning</span>
                </div>
                <p class="below-text">WORKOUTS</p>
                <img class="conditioning-image" src="../../assets/Conditioning.png" alt="street workout">
                <div class="circles">
                    <img src="../../assets/Circle.png" alt="circle">
                    <img src="../../assets/Circle.png" alt="circle">
                    <img src="../../assets/Circle.png" alt="circle">
                    <img src="../../assets/Circle.png" alt="circle">
                    <img src="../../assets/Circle.png" alt="circle">
                </div>
            </div>
            
            <div class="workout-types__box">
                <div class="condit">
                    <span class="con">CON</span>
                    <span class="dit">DIT-</span>
                </div>
                <div class="ioning">
                    <span class="io">io</span>
                    <span class="ning">ning</span>
                </div>
                <p class="below-text">WORKOUTS</p>
                <img class="conditioning-image" src="../../assets/Conditioning.png" alt="street workout">
                <div class="circles">
                    <img src="../../assets/Circle.png" alt="circle">
                    <img src="../../assets/Circle.png" alt="circle">
                    <img src="../../assets/Circle.png" alt="circle">
                    <img src="../../assets/Circle.png" alt="circle">
                    <img src="../../assets/Circle.png" alt="circle">
                </div>
            </div>
        </div>
    </div>
    <img class="trending" src="../../assets/Trending.png" alt="trending">
    <div class="trending-workouts">
        <div class="workout-card">
            <img src="../../assets/Pull strength.png" alt="">
            <span class="increase">Increase</span>
            <span class="your">Your</span>
            <span class="pull">Pull</span>
            <span class="strength">Strength</span>
        </div>
        <div class="workout-card">
            <img src="../../assets/Yoga trending.png" alt="">
            <span class="soul">Soul</span>
            <span class="enhancing">ENHANCING</span>
            <span class="yoga">Yoga</span>
        </div>
        <div class="workout-card">
            <img src="../../assets/Pull strength.png" alt="">
            <span class="increase">Increase</span>
            <span class="your">Your</span>
            <span class="pull">Pull</span>
            <span class="strength">Strength</span>
        </div>
    </div>
</div>